:root{

	--main-color:  #d90429;
	--secondary-color: #2b2d42;
	--content-color: #edf2f4;
	--white-mode: #F1F0F3;
}



#footer-body{
	background: var(--secondary-color); 
	color: var(--content-color);
}


.fa-brands{
	color: var(--content-color)!important;
}

.cuerpo{
	background: var(--content-color);
}

#menu{
	background: var(--main-color) !important;
	color: var(--content-color) !important;
}

#menu a:not(.dropdown-item) {
	color: var(--content-color) !important;
}
.slider{
	overflow: hidden;
}
.slider--inner{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	transition: all 0.3s ease-in;
	align-items: center; 
}

.slider--inner img{
width: 100%;
aspect-ratio: 25/9 !important;
object-fit: cover !important;
}

.returnLeft{
	top: 50%;
	width: 60px;
	left: 0;
	right: unset;
}

.returnRight{
	top: 50%;
	width: 60px;
	left: unset;
	right: 0;
}

